{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Eshop | Foegt Password Page</title>
{% endblock %}

{% block body %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-12">
            <img src="{% static 'images/forget.jpg' %}" class="w-100">
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <h5 class="background text-light p-2 text-center">Forget Password Section</h5>
            {% for i in messages %}
                <div class="alert alert-danger" role="alert">
                  {{i}}
                </div>
            {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">User Name</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter User Name to Rest Password">
                </div>
                <button type="submit" class="btn background text-light w-100">Send OTP</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}